<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
 
    <div class="container">
        <div class="alert alert-primary" role="alert">
              영화등록하기
        </div>
        <form action="{% url 'exer_190131:createmovie' %}" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlInput1">영화제목(한글)</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name='titleKr'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">영화제목(영어)</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name='titleEn'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">영화정보 URL</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name='infoURL'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">누적관객수</label>
                <input type="Integer" class="form-control" id="exampleFormControlInput1" name='spectators'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">평점</label>
                <input type="Integer" class="form-control" id="exampleFormControlInput1" name='score'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">장르</label>
                <select class="form-control" id="exampleFormControlSelect1" name='genre'>
                    <option>공포</option>
                    <option>드라마</option>
                    <option>액션</option>
                    <option>애니메이션</option>
                    <option>SF/판타지</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">줄거리</label>
                <textarea type="text" class="form-control" id="exampleFormControlInput1" row='3' name='summary'></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">영화포스터</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name='poster' accept='image/*'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">영화사진1</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name='picture1' accept='image/*'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">영화사진2</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name='picture2' accept='image/*'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">영화사진3</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name='picture3' accept='image/*'>
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>